h1 {
  text-align: center;
}

.color-palette {
  display: flex;
  justify-content: center;
}

.black {
  background-color: black;
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 2px;
}

.red {
  background-color: rgb(165, 4, 18);
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 2px;
}

.yellow {
  background-color: rgb(250, 190, 78);
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 2px;
}

.blue {
  background-color: rgb(27, 70, 114);
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 2px;
}